.calculator {
  width: 300px;
  max-height: 300px;
  border: solid gainsboro;
  margin: 0.5rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
